<!DOCTYPE html>
<html>
  <head>
    <title>qr code hunt</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h1>Qr code hunt</h1>
    <div id="hint-container">
      <h2 id="rules"></h2>
      <img id="image" src="" />
      <h2 id="hint">Hint:</h2>
    </div>

    <script src="../js/index.js"></script>
  </body>
</html>
